/* === Basic Reset === */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* === Fonts === */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kingthings Trypewriter";
  src: url("../fonts/kingthings-trypewriter-2/Kingthings-Trypewriter-2.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* === General Layout === */

body {
  font-family: "Roboto", sans-serif;
  background: #333333;
  color: #cccccc;
  text-align: center;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* === Header === */

header {
  padding: 15px 20px;
  /*font-size: 0.9rem;*/
  color: #aaaaaa;

  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  gap: 10px; /* 10px */
}

.nav-links {
  display: flex;
  gap: 25px;
}

header a {
  color: #aaaaaa; /* #f2f2f2;*/
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header h3 {
  font-family: "Kingthings Trypewriter", sans-serif;
  /* margin: 5px 0 0 0; */
}

/* === Main Content === */

main {
  flex: 1;
  padding: 5px 20px;
}

main h1 {
  font-family: "Kingthings Trypewriter", sans-serif;
  font-size: 3rem;
  margin: 0 0 20px 0;
}

/* Inicio Test */
main h2 {
  font-family: "Kingthings Trypewriter", sans-serif;
}

main h3 {
  font-family: "Kingthings Trypewriter", sans-serif;
}

main h4 {
  font-family: "Kingthings Trypewriter", sans-serif;
}

main h5 {
  font-family: "Kingthings Trypewriter", sans-serif;
}

main h6 {
  font-family: "Kingthings Trypewriter", sans-serif;
}
/* Fin Test*/

main p {
  margin: 20px 0 30px 0;
}

/*.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 15px auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}*/

/*.avatar:hover {
  transform: scale(1.15) rotate(360deg);
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  border-color: #f2f2f2;
}*/

/* === Main Links === */

main a {
  display: block;
  margin: 15px auto;
  padding: 15px;
  max-width: 500px;

  background: #525252;
  color: #cccccc;
  text-decoration: none;

  border: 1px solid #707070;
  border-radius: 8px;

  transition: background 0.2s ease, transform 0.1s ease;
}

main a:hover {
  background: #5f5f5f;
  transform: translateY(-2px);
}

/* === Footer === */

footer {
  padding: 15px 20px;
  font-size: 0.9rem;
  color: #aaaaaa;
}

footer a {
  color: #f2f2f2;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
